<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>707544520774-u977rmtqfimcnrkegm0or5dr84qi1kd7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707544520774-u977rmtqfimcnrkegm0or5dr84qi1kd7</string>
	<key>API_KEY</key>
	<string>AIzaSyADXLDnC6B3vyf5gh6qCbpbdp7YD7Y0-h8</string>
	<key>GCM_SENDER_ID</key>
	<string>707544520774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.academus.ios</string>
	<key>PROJECT_ID</key>
	<string>academus-app</string>
	<key>STORAGE_BUCKET</key>
	<string>academus-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:707544520774:ios:d7f635da997ebc06</string>
	<key>DATABASE_URL</key>
	<string>https://academus-app.firebaseio.com</string>
</dict>
</plist>
